<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {{#each products}}
            <li>
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
                <p>Categoría: {{this.category}}</p>
                <p>Stock: {{this.stock}}</p>
                <img src="{{this.thumbnails.[0]}}" alt="{{this.title}}" style="width:100px;height:100px;">
            </li>
        {{/each}}
    </ul>
</body>
</html>
